#notification-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    /* 기본값: 화면 폭의 90% */
    max-width: 1440px;
    /* 최대 너비 제한 */
    z-index: 9999;
    /* 레이어층 (9999층 (맨위에)있다고 생각하면 됨)*/

    /* 반투명 밝은 회색 + 그라데이션 */
    background: linear-gradient(to bottom, rgba(245, 245, 245, 0.95), rgba(200, 200, 200, 0.5));

    color: #222;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
/* 
    border: 1.5px solid rgba(150, 150, 150, 0.6); 연한 회색 테두리 */


    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* 클릭 가능하게 스타일링 */

}

/* 태블릿: 화면 너비가 768px 이상일 때 */
@media (min-width: 768px) {
    #notification-alert {
        padding: 25px;
        font-size: 17px;
    }
}

/* 데스크탑: 화면 너비가 1024px 이상일 때 */
@media (min-width: 1024px) {
    #notification-alert {
        padding: 30px;
        font-size: 18px;
    }
}


#notification-alert .alert-date {
    margin-left: auto;
}

#notification-alert .alert-delete {
    background: none;
    margin-left: 10px;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}