.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.layout .breakpoints {
    width: clamp(
        var(--breakpoint-min),
        100%,
        var(--breakpoint-max)
    );
    padding: 10px;
}

.layout header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: var(--base-color-3);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
}

.layout .main {
    min-height: calc(100vh - 50px);
    margin: 0;
    margin-top: 60px;
    background: whitesmoke;
}

.layout footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: var(--breakpoint-min);
    background: var(--base-color-1);
    color: var(--base-color-3);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
}

@media screen and (max-width: 720px) {
    .layout { 
        align-items: normal;
    }
}