.wrapper {
    display: flex;
    flex-direction: column;
    width: calc( 100% - 10px );
    max-height: 100vh;
    gap: 5px;
}

.title {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.wrapper_ul {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: var(--breakpoint);
    min-width: calc(var(--breakpoint-min) -25p);
    background: whitesmoke;
    gap: 5px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}

.wrapper_li {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.wrapper_li span {
    padding: 10px;
    width: 70px;
    background: white;
    flex-shrink: 0;
}
.wrapper_li p {
    padding: 10px;
    width: 240px;
    background: white;
}

.wrapper_li p.none {
    width: 100%;
}

.wrapper_li input {
    all: unset;
    padding-left: 10px;
    width: 100%;
    background: var(--base-color-4);
    color: white;
}
.wrapper_li input:focus {
    background: var(--base-color-5);
}

.wrapper_button {
    width: 75px;
    background: var(--base-color-4);
    border: 0px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    transition: background 0.1s ease-in;
}
.wrapper_button:hover {
    background: var(--base-color-5);
}

.wrapper_region {
    padding: 10px;
    background: #ffffff;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-weight: 600;
}
.wrapper_region:last-child {
    margin-left: 10px;
}
.wrapper_region:focus {
    outline: none;
    box-shadow: none;
}
.wrapper_region option {
    font-weight: 600;
}
.wrapper_region option:hover {
    color: whitesmoke;
}

@media screen and (max-width: 720px) {
    .wrapper_ul {
        width: calc( 100% - 20px );
    }
    .wrapper_region {
        width: 50%;
    }


    .wrapper_li {
        flex-wrap: wrap;
    }
    /* 이름(span) 스타일 유지 */
    .wrapper_li span {
        min-width: 70px; /* 최소 너비 보장 */
        white-space: nowrap; /* 줄바꿈 방지 */
    }
    /* 설명(p)은 유연하게 */
    .wrapper_li p {
        flex-grow: 1;
        min-width: 0; /* 내용이 너비를 압축하지 않도록 */
    }
    /* 버튼은 아래로 */
    .wrapper_li button {
        order: 1;
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .wrapper_li p.none {
        width: auto;
    }

    .wrapper_li input.none {
        /* width: auto; */
        width: calc( 100% - 105px);
    }
}
